<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.TheSmartCalculator">
        <activity
            android:name=".CirclesActivity"
            android:windowSoftInputMode="adjustResize"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TheSmartCalculator">
        </activity>
    </application>

</manifest>